<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <logger name="org.apache.kafka" level="WARN"/>
        <logger name="org.apache.kafka.streams.processor.internals.StateDirectory" level="WARN"/>
        <logger name="org.springframework.web" level="WARN" />
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="WARN"/>
        <logger name="compman.compsrv.cluster" level="DEBUG"/>
        <logger name="compman.compsrv.config.ClusterConfiguration" level="DEBUG"/>
        <logger name="io.scalecube" level="INFO"/>
        <logger name="io.scalecube.cluster.fdetector" level="WARN"/>
        <logger name="compman.compsrv.service" level="DEBUG"/>
        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>